<h2>SpaceX</h2>
<img class="imagen" src="assets/img/spacex.jpg">
<p>
    <br>
    Space Exploration Technologies Corp., conocida como SpaceX, es una empresa estadounidense de fabricación aeroespacial y de servicios de transporte espacial con residencia en Hawthorne (California). 
    Fue fundada en 2002 por Elon Musk con el objetivo de reducir los costes de viajar al espacio para facilitar la colonización de Marte. 
    Entre los productos que SpaceX ha desarrollado están varios vehículos de lanzamiento, las cápsulas de carga dragon, los starship que aún se encuentran en desarrollo,
    varios motores cohetes, starlinks y una plataforma autónoma de puerto aeroespacial.
</p>
