h2{
    text-align: center;
    font-style: normal;
    font-family: Broadway;
    font-size: 30px;
}
p{
    text-align: justify;
    font-family: Cambria;
    font-size: 20px;
    font-style: normal;
}

.imagen{
    width: 50%;
    display:block;
    margin:auto;
}